@model Service

<div class="delete-service">
	<h1>Delete Service</h1>
	<form method="post">
		<div>
			<label asp-for="@Model.Name">Name</label>
			<input disabled asp-for="@Model.Name" />
		</div>
		<button type="submit">Delete</button>
		<button asp-action="Index">Go Back</button>
	</form>
</div>